/* TODAS AS OUTRAS MEDIAS */

@media screen and (min-width: 768px) {
    .comida {
        flex-direction: row;
    }
}

@media screen and (min-width: 950px) {
    .barra-menu-lateral {
        display: none;
    }

    .nav-cabecalho-mobile {
        display: none;
    }

    .nav-cabecalho-desktop {
        display: flex;
        justify-content: center;
        gap: 26px;
        align-items: center;
    }

    .opcoes-nav, .opcoes-nav a{
        display: flex;
        list-style: none;
        gap: 16px;
        text-decoration: none;
        color: white;
    }

    .opcoes-nav a:hover {
        color: rgb(161, 161, 161);
    }
}

@media screen and (min-width: 1200px) {
    .curiosidades {
        flex-wrap: nowrap;
    }

    .avaliacoes {
        flex-direction: row;
    }

    .comida {
        flex-direction: column;
        width: 20%;
    }

    .cardapio-mini {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .comida:nth-child(5), .comida:nth-child(6), .comida:nth-child(7), .comida:nth-child(8) {
        display: flex;
    }
}