/* TODAS AS OUTRAS MEDIAS */

@media screen and (min-width: 768px) {
    .comida {
        flex-direction: row;
    }

    .links-rodape {
        flex-direction: row;
        gap: 3rem;
    }
}

@media screen and (min-width: 950px) {
    .barra-menu-lateral {
        display: none;
    }

    .nav-cabecalho-mobile {
        display: none;
    }

    .nav-cabecalho-desktop {
        display: flex;
        justify-content: center;
        gap: 1.6rem;
        align-items: center;
    }

    .opcoes-nav, .opcoes-nav a{
        display: flex;
        list-style: none;
        gap: 1rem;
        text-decoration: none;
        color: white;
    }

    .opcoes-nav a:hover {
        color: rgb(161, 161, 161);
    }

    .avaliacoes {
        flex-direction: row;
    }

    .curiosidades {
        margin-left: 3%;
        margin-right: 3%;
    }

    .filtros {
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {
    .curiosidades {
        flex-wrap: nowrap;
    }

    .comida {
        flex-direction: column;
        width: 20%;
    }

    .cardapio-mini {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .avaliacao {
        width: 21.8rem;
    }

    #cardapio-mini .comida:nth-child(5), #cardapio-mini  .comida:nth-child(6), #cardapio-mini  .comida:nth-child(7), #cardapio-mini  .comida:nth-child(8) {
        display: flex;
    }

    .filtro {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}