@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* MOBILE FIRST */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body, html {
    overflow-x: hidden;
}

main {
    width: 100vw;
}

.cabecalho {
    position: relative;
    background-image: url(../imgs/mobile/pag-inicial/comida\ gourmet\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    gap: 42px;
    padding: 16px;
}

.cabecalho::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.cabecalho > * {
    position: relative;
    z-index: 2;
}

.logo-cabecalho img {
    width: 150px;
}

.nav-cabecalho-desktop {
    display: none;
}

.nav-cabecalho-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-cabecalho-direito {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.menu-cabecalho-direito i {
    font-size: 1.5em;
    color: white;
}
.txt-cabecalho {
    text-align: center;
    color: white;
}

.txt-cabecalho h1{
    color: #F77720;;
}

.botao {
    border: none;
    padding: 12px;
    cursor: pointer;
    background-color: #F77720;
    color: white;
    font-weight: 600;
    width: 200px;
    border-radius: 16px;
    align-self: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.349);
}

.bt-header:active{
    background-color: #f39556;
}

.barra-menu-lateral {
    background-color: #0B1C72;
    position: absolute;
    right: 0;
    top: 0;
    width: 60vw;
    height: 100vh;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    transform: translateX(700px);
    transition: .5s;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.219);
}

.lista-opcoes, .lista-opcoes a, p {
    list-style: none;
    text-decoration: none;
}

.lista-opcoes a, .barra-menu-lateral p {
    color: white;
}

#logo-menu-lateral {
    align-self: center;
}

p {
    text-align: center;
    font-weight: 300;
}

.lista-opcoes {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.curiosidades {
    display: flex;
    justify-content: center;
    gap: 64px;
    margin: 60px 20px 0px 20px;
    flex-wrap: wrap;
}

.pontos-curio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 280px;
}

.pontos-curio figure img {
    width: 100px;
}

.avaliacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 2rem;
}

.avaliacao {
    background-image: url(../imgs/mulher-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 14px;
    margin: 0px 20px;
}

.avaliacao div, .avaliacao p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: justify;
    gap: 10px;
}

.ft-avaliacao {
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 6px;
}

.ft-avaliacao img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.avaliacao-comidas {
    background-color: #F77720;
    width: 100vw;
    height: 200px;
}

.avaliacao-comidas {
    padding: 38px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 38px;
}

.avaliacao-comidas h3 {
    border-bottom: 2px solid white;
    padding: 6px;
}

#avaliar {
    background-color: #fff;
    color: black;
}