@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* MOBILE FIRST */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body, html {
    overflow-x: hidden;
}

body {
    position: relative;
}

main {
    width: 100vw;
}

.cabecalho {
    background-image: url(../imgs/bg/bg-cabecalho.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
    padding: 1rem;
}

.logo-cabecalho img {
    width: 9.3rem;
}

.nav-cabecalho-desktop {
    display: none;
}

.nav-cabecalho-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-cabecalho-direito {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.menu-cabecalho-direito i {
    font-size: 1.5em;
    color: white;
}
.txt-cabecalho {
    text-align: center;
    color: white;
}

.txt-cabecalho h1{
    color: #F77720;;
}

.botao {
    border: none;
    padding: .75rem;
    cursor: pointer;
    background-color: #F77720;
    color: white;
    font-weight: 600;
    width: 12.5rem;
    border-radius: 1rem;
    align-self: center;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.349);
    transition: .3s;
}

.botao:hover {
    background-color: #b95818;
    transform: scale(1.1);
}

.botao:active {
    background-color: #F77720;
    transform: scale(0.9);
}

.add-carrinho, .cardapio button, #main-cardapio #botao-carrinho {
    background-color: #a14e16;
}

.add-carrinho:hover, .cardapio button:hover, #main-cardapio #botao-carrinho:hover {
    background-color: #572b0d;
}

.add-carrinho:active {
    background-color: #753a12;
}

.barra-menu-lateral {
    background-color: #0B1C72;
    position: absolute;
    right: 0;
    top: 0;
    width: 60vw;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    transform: translateX(43.75rem);
    transition: .5s;
    box-shadow: -0.3rem 0 .6rem rgba(0, 0, 0, 0.219);
}

.lista-opcoes, .lista-opcoes a, p {
    list-style: none;
    text-decoration: none;
}

.lista-opcoes a, .barra-menu-lateral p {
    color: white;
}

#logo-menu-lateral {
    align-self: center;
}

#cabecalho-homepage p {
    text-align: center;
    font-weight: 300;
}

#cabecalho-cardapio p, #cabecalho-carrinho p, #cabecalho-finalizarCompra p {
    font-size: larger;
}

.lista-opcoes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.curiosidades {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 8rem 1.2rem;
    flex-wrap: wrap;
}

.pontos-curio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 17.5rem;
}

.pontos-curio figure img {
    width: 6.2rem;
}

.avaliacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0;
    gap: 2rem;
}

.avaliacao {
    background-image: url(../imgs/mulher-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 1.87rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.87rem;
    gap: .8rem;
    margin: 0 1.25rem;
    transition: .5s;
}

.avaliacao:hover {
    transform: scale(0.8);
}

.avaliacao div, .avaliacao p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: justify;
    gap: .6rem;
}

.ft-avaliacao {
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: .3rem;
}

.ft-avaliacao img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 100%;
}

.avaliacao-comidas {
    background: #f77722;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 1rem;
}

.avaliacao-comidas h3 {
    border-bottom: 2px solid white;
    padding-bottom: .7rem;
    max-width: 637px;
}

#avaliar {
    background-color: #fff;
    color: black;
}

#avaliar:hover {
    background-color: #d3d3d3;
    
}

#avaliar:active {
    background-color: #fff;
}

.precos-desconto p:nth-child(1) {
    text-decoration-line: line-through;
}

#mini-cardapio-homepage {
    padding: 8rem 2.5rem 0 2.5rem;
}

.mini-cardapio {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.cardapio-mini {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#cardapio-mini  .comida:nth-child(5), #cardapio-mini  .comida:nth-child(6), #cardapio-mini  .comida:nth-child(7), #cardapio-mini  .comida:nth-child(8) {
    display: none;
}

.comida figure img, .inf-carrinho-1 figure img, .comidao-avaliacao figure img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 100%;
}

.comida {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.219);
    padding: 1.5rem;
    border-radius: 1rem;
    gap: .5rem;
}

.precos-desconto {
    display: flex;
    gap: .7rem;
}

.chamando-para-cardapio {
    background-image: url(../imgs/bg/bg-chamado-menu-homepage.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    color: white;
    padding: 3rem;
}

.chamando-para-cardapio button {
    background-color: rgba(255, 255, 255, 0.219);
}

.chamando-para-cardapio button:hover {
    background-color: rgba(255, 255, 255, 0.103);
}

.chamando-para-cardapio button:active {
    background-color: rgba(255, 255, 255, 0.219);
}

.novidades form label {
    display: block;
}

.novidades h3{
    text-align: center;
}

.novidades {
    display: flex;
    flex-direction: column;
    margin: 3rem 1rem;
}

.novidades form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1.3rem;
}

.novidades form input[type="text"], .novidades input[type="email"], .novidades form div, input[type="number"] {
    width: 100%;
    max-width: 780px;
}

.novidades form input[type="submit"] {
    width: 100%;
    max-width: 500px;
}

input[type="text"], input[type="email"], input[type="number"] {
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: .5rem;
    padding: .5rem;
    width: 15rem;
}

.novidades form div:nth-child(3) {
    display: flex;
    gap: .5rem;
}

footer {
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
    gap: 2rem;
}

footer figure img {
    width: 9rem;
}

.links-rodape {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
}

.links-rodape a {
    text-decoration: none;
    color: white;
}

.links-rodape a:hover {
    color: rgba(255, 255, 255, 0.473);
}

.redes-sociais {
    font-size: xx-large;
    display: flex;
    gap: 2rem;
    border-top: 2px solid white;
    padding: 1rem;
}

#main-cardapio {
    background-image: url(../imgs/bg/vetores-bg-cardapio-desktop.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;

}

.filtragem {
    background-color: white;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, 0.295);
    border-radius: 1rem;
    max-width: 1024px;
}

.filtros {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filtro select {
    width: 100%;
    height: 2.5rem;
    border-radius: 1rem;
    padding: .5rem;
}

.cardapio {
    margin: 4rem;
}

#main-cardapio .avaliacao-comidas {
    margin-top: 3rem;
    background-color: white;
}

#main-cardapio .avaliacao-comidas h3 {
    color: #F77720;
    border-color: #F77720;
}

#cabecalho-cardapio, #cabecalho-carrinho, #cabecalho-finalizarCompra {
    height: 240px;
}

#cabecalho-cardapio .txt-cabecalho, #cabecalho-carrinho .txt-cabecalho, #cabecalho-finalizarCompra .txt-cabecalho {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notificacao {
    position: fixed;
    bottom: 25px;
    right: 30px;
    background-color: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1rem 2rem 1rem 1.3rem;
    border-left: .5rem solid #F77720;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.notificacao.ativo {
    transform: translateX(0%);
}

.notificacao .conteudo-notificacao {
    display: flex;
    align-items: center;
}

.conteudo-notificacao .check {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: #F77720;
    color: white;
    font-size: 1.2rem;
    border-radius: 50%;
}

.conteudo-notificacao .mensagem {
    display: flex;
    flex-direction: column;
    margin: 0 1.2rem;
}

.mensagem .texto {
    font-weight: 400;
    color: #666666;
    font-size: .7rem;
}

.mensagem .texto.texto-1 {
    font-weight: 600;
    color: #333333;
}

.notificacao .fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: .5rem;
    cursor: pointer;
    opacity: 0.7;
}

.notificacao .tempo {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #ddd;
}

.notificacao .tempo:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #F77720;
}

.tempo.ativo:before {
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
      right: 100%;  
    }
}

#main-carrinho, #main-finalizarCompra, #main-avaliacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#titulo-carrinho{
    text-align: center;
    padding: 4rem;
}

.carrinho {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 2rem;
    gap: 2rem;
}

.item-carrinho {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.384);
}

.inf-carrinho-1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid #F77720;
    padding-bottom: 1rem;
}

.txt-item-carrinho p{
    font-weight: 200;
    text-align: justify;
}

.txt-item-carrinho {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inf-carrinho-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

.quantidade-preco {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.quantidade {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.quantidade i, .quantidade p{
    border: 1px solid #33333379;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
}

.quantidade i:hover {
    background-color: #dfdfdf;
    cursor: pointer;
}

.remover-item-carrinho {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inf-carrinho-2 button {
    background-color: red;
}

.inf-carrinho-2 button:hover {
    background-color: rgb(131, 0, 0);
}

.inf-carrinho-2 button:active {
    background-color: red;
}

.resumo-pedido {
    width: 80%;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 4rem 0;
}

.inf-resumo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.resumo-pedido input, .resumo-pedido button {
    width: 80%;
}

.inf-pessoais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 60%;
    max-width: 532px;
}

.inf-pessoais div {
    width: 100%;
}

.inf-pessoais label {
    display: block;
}

.inf-pessoais input {
    width: 100%;
}

.input-duplo {
    display: flex;
    gap: .5rem;
}

.metodos-pagamento {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 60%;
}

.metodos-pagamento div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.37);
    border-radius: 1rem;
    padding: 1rem;
    transition: .3s;
    max-width: 532px;
}

.metodos-pagamento i {
    font-size: 1.4rem;
}

.bt-mtd-pgt:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #bdbdbd;
}

.bt-mtd-pgt:active {
    transform: scale(0.9);
}

.inf-pessoais ul li, .metodos-pagamento ul li {
    font-size: 1.3rem;
    padding: 1.2rem;
}

.bt-mtd-pgt.btn-ativo {
    border: 5px solid rgb(16, 196, 16);
}

.bt-mtd-pgt {
    position: relative;
    overflow: hidden;
}

.bt-mtd-pgt::before {
    content: 'Selecionado';
    position: absolute;
    left: 23%;
    font-size: 2rem;
    opacity: 0.07;
    transform: translateX(calc(-100% - 70%));
    transition: .8s;
}

.bt-mtd-pgt.btn-ativo::before {
    transform: translateX(-10%);
}

#input-imagem {
    display: none;
}

.imagem {
    width: 400px;
    height: 400px;
    aspect-ratio: 16/9;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
    border: 2px dashed #aaa;
    cursor: pointer;
    overflow: hidden;
}

.imagem:hover {
    color: #777;
    background-color: #ccc;
}

.imagem-img {
    max-width: 100%;
    max-height: 100%;
    
}

.img {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.avaliacao-restaurante {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.estrelas-avaliacao {
    color: #ddd;
    font-size: 2rem;
}

.estrelas-avaliacao #primeira-estrela {
    color: rgb(255, 208, 0);
}

.estrelas-avaliacao:hover {
    color: #aaa;
    cursor: pointer;
}

.avaliacoes {
    width: 70%;
    border-bottom: 2px #ddd solid;
    padding-bottom: 1rem;
}

.avaliacoes textarea {
    resize: none;
    width: 80%;
    height: 300px;
    padding: 1rem;
    border-radius: 1rem;
    border-color: #ddd;
}

.avaliacoes .inputs label{
    display: block;
    text-align: center;
}

.inputs-bairro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#main-avaliacao :nth-child(2), #main-avaliacao :nth-child(3), #main-avaliacao :nth-child(4) {
    flex-direction: column;
    text-align: center;
}

.comida-avaliacao, .avaliacao-restaurante {
    display: flex;
    flex-direction: column;
}

.avaliacoes #pesquisa-comida, .pesquisa-comidaa {
    width: 100%;
    max-width: 500px;
}

.comidao-avaliacao {
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.349);
    padding: 2rem;
    border-radius: 1rem;
}

#main-avaliacao button {
    margin: 3rem 0;
}

.pesquisa-comidaa {
    position: relative;
}

.pesquisa-comidaa i {
    height: 100%;
    position: absolute;
    left: 3%;
    top: 30%;
    color: #ddd;
}